// Basic Button styling..
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

// Button Colors..5 different color buttons
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

// Button sizes..Use font size...
.button1 {font-size: 10px;}
.button2 {font-size: 12px;}
.button3 {font-size: 16px;}
.button4 {font-size: 20px;}
.button5 {font-size: 24px;}

.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;

}
.col-2{
	flex-basis: 50%;
	min-width: 300px;

}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
	background: #563434;
}

//padding can be used to make it more realistic..
.button1 {padding: 10px 24px;}
.button2 {padding: 12px 28px;}
.button3 {padding: 14px 40px;}
.button4 {padding: 32px 16px;}
.button5 {padding: 16px;}

//Rounded Buttons .. use border radius..
.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

// Color only Borders..
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}
// Hovering Buttons.... Use : hover property..
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
// providing shadow to button on hovering
.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
Disabled buttons ....Use Opacity property..
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

// to change the button width..
.button1 {width: 250px;}
.button2 {width: 50%;}
.button3 {width: 100%;}

//Button groups
.button {
  float: left;
}//also we can add borders in these buttons to make it look good

//buttons in vertical
.button {
  display: block;
}

//buttons on an image
//in html in button tag add an img tag....























